<?xml version="1.0"?>
<configuration>
    <system.web>
      <compilation debug="true" defaultLanguage="c#">
        <assemblies>
          <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
          <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        </assemblies>
      </compilation>
    </system.web>
</configuration>
